.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 400px;
  padding: 24px;
  border-radius: 10px;
}

button {
  padding: 10px 18px;
  margin-top: 10px;
}
